:root {
  --secondary-color: #ed2853;
  --border-color: #e9e9e9;
  --primary-font-color: rgb(72, 71, 71);
  --secondary-font-color: #909393;
  --button-color: #bec1c0;
}

html,
body {
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png');
  background-size: cover;
}

.login-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-backdrop {
  box-shadow: inset 0 20px 10px rgba(255,255,255,0.5);
  width: 25.5rem;
  height: 0.6rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  margin: auto;
}

.login-form {
  background-color: white;
  width: 27rem;
  border-radius: 0.6rem;
  padding: 3.5rem 0 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form [type='text'] {
  width: 78%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.empty-block {
  width: 0.3rem;
  height: 2.8rem;
  background-color: var(--secondary-color);
}

.login-form h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0 2.5rem;
  color: var(--secondary-color);
}

.login-form [type='text'] {
  margin: 2.5rem 2.5rem 0;
  outline: 0;
  border-width: 0 0 1px;
  border-color: var(--border-color);
  padding: 0.7rem 0;
  font-size: 1.5rem;
  color: var(--primary-font-color);
  font-family: inherit;
}

.login-form [type='text']::placeholder {
  color: var(--secondary-font-color);
  font-size: 1.5rem;
  font-weight: 300;
}

.login-form [type='submit'] {
  margin: 1.8rem 2.5rem 0;
  background: none;
  border: 3px solid var(--button-color);
  display: inline-block;
  width: 12rem;
  height: 4rem;
  font-weight: 700;
  font-size: 1rem;
  color: var(--button-color);
  cursor: pointer;
  transition: background-color 0.15s,
  border-color 0.15s,
  color 0.15s;
}

.login-form [type='submit']:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
}

.login-form p {
  margin: 2.5rem 2.5rem 0;
  text-align: center;
  color: var(--secondary-font-color);
  font-weight: 400;
  cursor: pointer;
}

.plus {
  background-color: var(--secondary-color);
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  position: absolute;
  right: -15%;
  bottom: 65%;
}

.plus span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
}